<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>YourBrand</title>
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="BlazorApp.styles.css" />
    <link rel="stylesheet" href="Client.styles.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <HeadOutlet @rendermode="renderMode" />
</head>

<body>
    <YourBrand.Client.Routes @rendermode="renderMode" />

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    @if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
    {
        <script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>
    }
    else
    {
        <script src="_content/Microsoft.Authentication.WebAssembly.Msal/AuthenticationService.js"></script>
    }
    <script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
    <script src="js/app.js"></script>
</body>

</html>

@code
{
    private static IComponentRenderMode renderMode =
    new InteractiveWebAssemblyRenderMode(prerender: false);
}