@page "/products"
@attribute [StreamRendering(true)]

<AppPageTitle>Products</AppPageTitle>

<h1>Products</h1>

<p>Demonstrates form processed by the server - with model-binding and server-side validation</p>

<ProductsView Page="Page" PageSize="PageSize" />

@code {
    [SupplyParameterFromQuery]
    public int? Page { get; set; }

    [SupplyParameterFromQuery]
    public int? PageSize { get; set; }

    protected override void OnInitialized()
    {
        Page ??= 1;
        PageSize ??= 6;
    }
}