@using BlazorApp.ProductCategories
@using Client.ProductCategories
@inject IProductCategoryService ProductCategoryService
@inject NavigationManager NavigationManager
@implements IDisposable

@if(categoryTree is not null)
{
    <CascadingValue Name="Path" Value="path">
        <ul id="myUL">
            @*<li>
                <div class="row">
                    <div class="col">
                        <a href="/categories" class="text-decoration-none text-reset @(path == string.Empty ? "active" : null)">
                            All products
                        </a>
                    </div>
                </div>
            </li>*@

            @foreach (var node in categoryTree.Categories)
            {
                <CategoryTreeNodeView @key="node.Id" Node="node" OnClick="OnClick" />
            }
        </ul>
    </CascadingValue>
}

@code 
{
    string? path;

    ProductCategoryTreeRootDto? categoryTree;

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
        path = new Uri(NavigationManager.Uri).LocalPath[1..];
        path = path.Substring(path.IndexOf("/") + 1);

        categoryTree = await ProductCategoryService.GetProductCategories();
    }

    [Parameter] public EventCallback<ProductCategoryTreeNodeDto> OnClick { get; set; } = default!;

    private void OnLocationChanged(object? sender, LocationChangedEventArgs eventArgs)
    {
        path = new Uri(NavigationManager.Uri).LocalPath[1..];
        path = path.Substring(path.IndexOf("/") + 1);

        Console.WriteLine("Tree" + path);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}